<head>
    <title>construindo com EJS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <style>
        body{
            padding-top: 3.12rem;
        }
       
    </style>
</head>