<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main>
        <div class = "sobrou">
            <h1>sobre min</h1>
            <p>
                oi eu sou ellen, prazer estou aprendendo a programara na rocketseat
            </p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>